# User / password for accessing Elasticsearch (same as .env settings in elasticsearch repo)
ES_USER=""
ES_PASSWORD=""

# SHA256 fingerprint for additional security when accessing Elasticsearch
# When Elasticsearch is up-and-running: 
# openssl s_client -connect localhost:9200 -servername localhost -showcerts </dev/null 2>/dev/null | openssl x509 -fingerprint -sha256 -noout -in /dev/stdin
ES_FINGERPRINT=""

# Docker network to use
ES_NETWORK=""

# Our environment (eg dev, acc or empty)
ES_ENV_NAME=""
ES_ENV=""

# Sharepoint endpoint for documents
SHAREPOINT_ENDPOINT=""

# Elasticsearch index
ES_INDEXNAME=""

# Elasticsearch transaction index
ES_TRANSACTION_INDEXNAME=""

# Should we return the full JSON response 
ES_FULL_JSON_RESPONSE=0

# Ports to use
ES_HTTP_PORT=
ES_SSL_PORT=
